

<body>
  <div id="navbar">
    <span id="welcome-message">Welcome to MemoryMingle</span>

    <div id="profile-info">
      <div id="profile-image">
        <img src="https://placekitten.com/40/40" alt="Profile Image" />
      </div>
      <div id="user-info">
        <span id="username">username</span>
        <button id="logout-btn">Logout</button>
      </div>
    </div>
  </div>

  <div class="hero text-center m-0 py-2 justify-content-center">

    <div class="moveClouds">
      <div class="cloud cloud1">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
  
      <div class="cloud cloud2">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
      <div class="cloud cloud3">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
      <div class="cloud cloud4">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
    </div>
    <div class=" ">
      <div class="container mt-5">
        <div class="game-container row">
          <div class="game-image col-6">
            <img
              src="https://images.unsplash.com/photo-1500995617113-cf789362a3e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdhbWVzfGVufDB8fDB8fHww"
              alt="Game Image" />
          </div>
          <div class="game-content col-6">
            <h2 class="mb-4 game-title">Game Title</h2>
            <p>
              <span class="badges">Badges:</span>
              <i class="fa-solid fa-2x fa-star"></i>
              <i class="fa-solid fa-2x fa-star"></i>
              <i class="fa-solid fa-2x fa-star"></i>
            </p>

            <button class="btn btn-primary mt-3 start-game-btn    ">
              Start Game
            </button>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="game-container row">
          <div class="game-image col-6">
            <img
              src="https://images.unsplash.com/photo-1500995617113-cf789362a3e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdhbWVzfGVufDB8fDB8fHww"
              alt="Game Image" />
          </div>
          <div class="game-content col-6">
            <h2 class="mb-4 game-title">Game Title</h2>
            <p>
              <span class="badges">Badges:</span>
              <i class="fa-solid fa-2x fa-star"></i>
              <i class="fa-solid fa-2x fa-star"></i>
              <i class="fa-solid fa-2x fa-star"></i>
            </p>

            <button class="btn btn-primary mt-3 start-game-btn    ">
              Start Game
            </button>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="game-container row">
          <div class="game-image col-6">
            <img
              src="https://images.unsplash.com/photo-1500995617113-cf789362a3e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdhbWVzfGVufDB8fDB8fHww"
              alt="Game Image" />
          </div>
          <div class="game-content col-6">
            <h2 class="mb-4 game-title">Game Title</h2>
            <p>
              <span class="badges">Badges:</span>
              <i class="fa-solid fa-2x fa-star"></i>
              <i class="fa-solid fa-2x fa-star"></i>
              <i class="fa-solid fa-2x fa-star"></i>
            </p>

            <button class="btn btn-primary mt-3 start-game-btn    ">
              Start Game
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

