<body>
  <!-- Top navbar -->
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
        <a href="#">
          <p><span>Memory</span>Mingle</p>
        </a>
      </div>
    </div>
  </nav>

  <!-- Profile section -->
  <div class="container profile-section">
    <div class="profile-name">Child's progress</div>
    <div class="profile-details">
      <p>Progress Table:</p>
    </div>
    <table>
      <tr>
        <th>Game</th>
        <th>Level</th>
        <th>Won/Lost</th>
        <th>Points</th>
        <th>Date Played</th>
      </tr>
      <!-- 
            <div *ngIf="progressData">
                <tr >
                    <td>{{progressData.game_played_name}}</td>
                    <td>{{progressData.level_id}}</td>
                    <td >{{progressData.won_yn}}</td>
                    <td>{{progressData.points}}</td>
                    <td>{{progressData.game_played_date}}</td>
                </tr>
            </div> -->

      <tr *ngFor="let progressData of progressData">
        <td>{{ progressData.game_played_name }}</td>
        <td>{{ progressData.level_id }}</td>
        <td>{{ progressData.won_yn }}</td>
        <td>{{ progressData.points }}</td>
        <td>{{ progressData.game_played_date }}</td>
      </tr>

      <tr></tr>
    </table>
  </div>
  <div class="container profile-section">
    <div class="profile-name">Child's progress Chart</div>
    <div class="profile-details">
      <p>As per each level</p>
    </div>

  </div>
  <div class="container1 d-flex">
    <ag-charts-angular
      style="height: 100%"
      [options]="CardMatchEasyProgressArrayOfOptions"
      class="col-4"
    ></ag-charts-angular>
    
    <ag-charts-angular
      style="height: 100%"
      [options]="CardMatchMediumProgressArrayOfOptions"
      class="col-4"
    ></ag-charts-angular>
    <ag-charts-angular
      style="height: 100%"
      [options]="CardMatchHardProgressArrayOfOptions"
      class="col-4"
    ></ag-charts-angular>

  </div>

  <div class="container2 d-flex">
    <ag-charts-angular
    style="height: 100%"
    [options]="PatternRecognitionEasyProgressArrayOfOptions"
    class="col-4"
  >
</ag-charts-angular>
  <ag-charts-angular
    style="height: 100%"
    [options]="PatternRecognitionMediumProgressArrayOfOptions"
    class="col-4"
  ></ag-charts-angular>
  <ag-charts-angular
    style="height: 100%"
    [options]="PatternRecognitionHardProgressArrayOfOptions"
    class="col-4"
  ></ag-charts-angular>
  </div>

</body>
