<div id="navbar">
  <div class="logo">
    
    <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
    <a href="#"><p><span>Memory</span>Mingle</p></a>
</div>

  <div id="profile-info">
    <!-- <div id="profile-image">
      <img  alt="Profile Image" />
    </div> -->
    <div id="user-info">
      <!-- <span id="username">Guardian username</span> -->
      <button class="btn btn-primary" (click)="guardianLogin()">Guardian Log In</button>
      <!-- <button class="btn btn-primary m-2" (click)="logOut()">Log Out</button> -->

    </div>
  </div>
</div>
<body>
  <div class="container">
    
    <div class="game-instructions d-flex justify-content-center align-items-center flex-column">
      <div class="Heading">
        <h1>THE GAME INSTRUCTIONS ARE!!</h1>
      </div>

      <div class="content">
        {{ instructions?.game_instructions }}
      </div>
    </div>

    <div class="level-display d-flex flex-column align-items-center">
      <div class="Heading mt-4"><h1>LEVELS</h1></div>
      <div class="d-flex">
        <div class="p-2">
          <button class="lvls btn btn-primary" (click)="sendLevel('EASY')">
            EASY
          </button>
        </div>
      </div>

      <div class="d-flex">
        <div class="p-2">
          <button class="lvls btn btn-primary" (click)="sendLevel('MEDIUM')">
            MEDIUM
          </button>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2">
          <button class="lvls btn btn-primary" (click)="sendLevel('HARD')">
            HARD
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
